/* Style pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Style pour les titres h1 */
h1 {
    color: #333;
    text-align: center;
}

/* Style pour les listes */
ul {
    list-style-type: none;
    padding: 0;
}

/* Style pour les éléments de la liste */
li {
    margin-bottom: 10px;
    text-align: center;
}

/* Style pour les liens */
a {
    text-decoration: none;
    color: #007bff;
}

/* Style pour les liens au survol */
a:hover {
    text-decoration: underline;
}

/* Style pour les formulaires */
form {
    margin-top: 20px;
    text-align: center;
}

/* Style pour les boutons */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style pour les boutons au survol */
button:hover {
    background-color: #0056b3;
}

/* Style pour les conteneurs de résultats */
.result-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour les graphiques */
canvas {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 100%; /* Limite la largeur du graphique à 100% de la largeur de son conteneur */
    height: auto; /* Permet au graphique de conserver son ratio d'aspect lorsqu'il est redimensionné */
    width: 400px; /* Définit une largeur fixe pour le graphique */
    max-height: 300px; /* Limite la hauteur du graphique à 300 pixels au maximum */
}

/* Style pour les messages d'erreur */
.error-message {
    color: #d9534f;
    font-style: italic;
}

/* Style pour le texte d'information */
.info-text {
    margin-top: 20px;
    color: #777;
    font-style: italic;
}
